body {
  font-family: "Times New Roman", Times, serif;
  background-color: #363636;
  color: white;
  text-align: center;
}
#mainNavbar {
  font-size: 1.5rem;
  font-weight: 100;
}

#mainNavbar .nav-link {
  color: white;
}
#mainNavbar .nav-link:hover {
  color: #4f4f4f;
}

#mainNavbar .navbar-brand {
  color: #363636;
  font-size: 1.5rem;
  font-weight: bold;
}
.navbar.scrolled {
  background: rgb(137, 151, 222);
  transition: background 500ms;
}
